@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



/* Use Cases */
.ProcurWrongFlex{
  @apply flex flex-row items-center justify-between  p-5
}
 
.ProcurWrkFlwTxt{
  @apply flex w-80   h-8 flex-col justify-center flex-shrink-0 text-black font-sans text-3xl not-italic font-semibold leading-7
}
 
.TopBarMainSectionFlex{
  @apply flex flex-row  justify-between items-center bg-white w-auto h-14 flex-shrink-0  px-3 mb-5
}
 
.UseCasesTxt{
  @apply  text-black font-sans text-lg not-italic font-semibold  leading-7 h-10 flex  items-center gap-4 bg-white
}
 
.BtnSearchFlexLeft{
  @apply flex flex-row justify-start items-center gap-2
}
 
 
 
.SearchTxtSearchBarFlex{
  @apply flex flex-row justify-start items-center
}
 
.SearchTxt{
  @apply text-black font-sans text-sm not-italic font-normal leading-7 w-52 h-8  flex px-1 py-3 items-start gap-[10px]  border-black  
}
 
.UseCaseBtnClr{
  @apply flex px-0 py-4 justify-center items-center gap-2 self-start border rounded-sm bg-blue-500 w-11 h-8
}
 
.OrientViewBtn{
  @apply flex px-1 py-4 items-center justify-center gap-2 rounded-sm border bg-blue-500 w-24 h-8 text-white text-center font-sans text-sm not-italic font-normal leading-7
}
 
.ResoucesViewBtn{
  @apply flex px-1 py-4 items-center justify-center gap-2 rounded-sm border bg-blue-600 w-32 h-8 text-white text-center font-sans text-sm not-italic font-normal leading-7
}
/* Compoemet inside the UseCase */
.RequirementText{
  @apply text-blue-800 font-sans text-base not-italic font-semibold leading-6
}
 
.UseCaseTxt{
  @apply text-black font-sans text-sm not-italic font-semibold leading-7  h-7
}
 
.AssignedColTxtUsecaseComp{
  @apply text-black font-sans text-sm not-italic font-semibold leading-7 w-28 h-6 text-start
}
 
.NameProfileColUsecaseComp{
  @apply text-black font-sans text-sm not-italic font-semibold leading-7 w-24 h-6 text-start
}
 
.NameProfileColUsecaseCompDate{
  @apply  text-orange-500 font-sans text-sm not-italic font-semibold leading-7 h-6 text-start w-[100%]
}
 
.NameProfileColUsecaseCompDateGreenClrDate{
@apply text-green-500 font-sans text-sm not-italic font-semibold leading-7 h-6 text-start
}


.custom-tabs .ant-tabs-ink-bar {
  display: none;
}


/* Import Google font - Poppins 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}
:where(.container, form, .input-field, header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background: #fff;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
  height: 65px;
  width: 65px;
  background: #4070f4;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
}
.container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}
form .input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #6e93f7;
  transition: all 0.2s ease;
}
form button.active {
  background: #4070f4;
  pointer-events: auto;
}
form button:hover {
  background: #0e4bf1;
} */